.header {
  display: inline;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f8f9fa;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 100px;
}

.header h1 {
  color: #343a40;
  font-weight: bold;
  margin: 0;
  height: 100px;
}

.phone-banner {
  background-color: #ffc107;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold
}