.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 80px; 
  margin-bottom: 60px; 
}

.side-menu-col {
  width: 250px;
  position: fixed;
  left: 0;
  height: calc(100vh - 140px);
}

.products-col {
  margin-left: 250px; 
  padding: 20px;
  flex: 1;
}